* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    min-width: 350px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.back_ground {
    background-image: url(./img/randm_bg.jpg);
    background-size: cover;
    background-position: center;
}